    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-box">
            <a href="index.html" class="logo-footer"><img src="assets/img/logo-footer.svg" alt="ECM" class="img-fluid"></a>
          </div>

          <div class="col-lg-3 col-md-6 footer-box">
            <h4>Company</h4>
            <p>Cryptometric Ltd <br />
            Trading as ECM &copy; 2024<br />
            8 Princes Parade, Liverpool, L3 1DL<br />
            Company No. 13244269 <br /> 
            VAT No. 157595663
          </div>

          <div class="col-lg-3 col-md-6 footer-box">
            <h4>Community</h4>
            <div class="social-links">
              <a href="#" class="linkedin"><img src="assets/img/social-linkedin.svg" class="img-fluid" alt="LinkedIn"></a>
              <a href="#" class="twitter"><img src="assets/img/social-twitter.svg" class="img-fluid" alt="Twitter"></a>
              <a href="#" class="youtube"><img src="assets/img/social-youtube.svg" class="img-fluid" alt="YouTube"></a>
              <a href="#" class="facebook"><img src="assets/img/social-facebook.svg" class="img-fluid" alt="Facebook"></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-box">
            <h4>Book a demo</h4>
            <form action="#" method="post">
              <div class="input-block">
                  <input type="email" class="form-control" name="email" placeholder="Enter email address">
                  <span><img src="./assets/img/icon-envelope.svg" alt="Email"></span>
              </div>
              <button type="submit" value="Subscribe" class="btn cta-btn">Request</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <ul>
        <li><a href="#">Term of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <div class="copyright">
        &copy; Copyright ECM 2024 - All rights reserved.
      </div>
    </div>
